<p id="notice"><%= notice %></p>

<p>
  <strong>Title,:</strong>
  <%= @task.title, %>
</p>

<p>
  <strong>Taken:</strong>
  <%= @task.taken %>
</p>

<p>
  <strong>Event:</strong>
  <%= @task.event %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
